{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block  content %}
<h1>Cart</h1>
<div class="container">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total price</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbod>
            {% for c in cart %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{c.product.image.url}}" alt="" width="100"></td>
                <td>{{c.product.name}}</td>
                <td>{{c.variant.size_variant.name}}</td>
                <td>{{c.variant.color_variant.name}}</td>
                <td>
                    {% if c.product.status != 'None' %}
                    {{c.variant.total_price}}
                    {% else %}
                    {{c.product.total_price}}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'cart:add_single' c.id %}">+</a> {{c.quantity}} <a
                        href="{% url 'cart:remove_single' c.id %}">-</a></td>
                <td>
                    {% if c.product.status != 'None' %}
                    {% widthratio c.variant.total_price 1 c.quantity %}
                    {% else %}
                    {% widthratio c.product.total_price 1 c.quantity %}
                    {% endif %}
                </td>
                <td><a href="{% url 'cart:remove_cart' c.id %}" style="text-decoration: ">remove</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="8">Total</td>
                <td>{{total}}</td>
            </tr>
        </tbod>
    </table>


</div>
<div class="row">
    <form action="{% url 'order:create_order' %}" method="post">
        {% csrf_token %}
        <input type="email" name="email" class="form-control" style="border-color: black; margin: 10px"
               placeholder="email...">
        <input type="text" name="first_name" class="form-control" style="border-color: black; margin: 10px"
               placeholder="firstname...">
        <input type="text" name="last_name" class="form-control" style="border-color: black; margin: 10px"
               placeholder="lastname...">
        <textarea name="" id="address" cols="30" rows="10" class="form-control"
                  style="border-color: black; margin: 10px" placeholder="address..."></textarea>
        <button type="submit" class="btn btn-outline-danger" style=" margin: 10px">Order</button>
    </form>
</div>
{% endblock %}