{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
    <div class="card mt-5 p-5 bg-dark">

        <form action="{% url 'home:contact' %}" method="post">
            <h1 class="text-center" style="color: goldenrod">Contact Form</h1>
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col-6"><input type="text" name="subject" class="form-control" placeholder="subject"></div>
                <div class="col-6"><input type="email" name="email" class="form-control" placeholder="email"></div>
            </div>
            <div class="row mt-3">
                <textarea name="message" id="" cols="30" rows="4" class="form-control" placeholder="message"></textarea>
            </div>
            <button type="submit" class="btn btn-danger mt-3 align-items-center">Send email</button>
        </form>
    </div>
</div>
{% endblock %}